@use '../variables.scss' as *;

#app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.WaterPage {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

// 全屏容器
.wh_full {
	width: 100vw;
	height: 100vh;
}
.AppPage {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.Page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 15px;
	box-sizing: border-box;
}

// flex
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
	&_y {
		flex-direction: column;
	}
}

// 悬浮背景
.bg_hover {
	&:hover {
		background-color: var(--el-fill-color);
	}
}

// 行操作按钮
.miniBtn.el-button {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

// Layout => Header
.Header_Item {
	width: $Layout_Header_Item_Size;
	height: $Layout_Header_Height;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

// 搜索组件
.SearchBar {
	margin-top: 10px;
	margin-bottom: -15px;

	.XmBtn {
		margin-bottom: 15px;
		margin-left: 5px;
	}

	.item {
		position: relative;
		margin-bottom: 15px;

		.label {
			font-size: 12px;
			position: absolute;
			left: 13px;
			top: -7px;
			z-index: 5;
			padding: 0 10px;
			line-height: 1;
			color: #999;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 7px;
				width: 100%;
				height: 1px;
				background: var(--el-bg-color);
				z-index: -1;
			}
		}
	}
}

// 选择45度
.r45 {
	transform: rotate(45deg);
}

// 渲染出现了未知组件
.UnknowCom {
	:deep(.el-input__wrapper) {
		background-color: #f56c6c;
		border-color: #f56c6c;
		box-shadow: 0 0 0 1px #f56c6c inset;
		.el-input__inner {
			color: #fff;
		}
	}
}

// 页面布局
.SearchBar + .ListTable {
	margin-top: 10px;
}

// 弹窗组件
.XmDialogCom.el-dialog {
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
	.el-dialog__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		margin: 0px;
		border-bottom: 1px solid #ddd;
		// font-weight: 600;
		font-size: var(--el-font-size-medium);
		color: var(--el-color-white);
		line-height: 25px;
		letter-spacing: 2px;
		background-color: var(--el-color-primary);
		.el-dialog__headerbtn {
			top: 5px;
			right: 10px;
			width: 40px;
			height: 40px;
			font-size: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			.el-dialog__close {
				color: var(--el-color-white);
				&:hover {
					color: #f56c6c;
				}
			}
		}
	}
	.el-dialog__body {
		padding: 15px;
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.el-dialog__footer {
		padding: 0px 15px;
		padding-bottom: 10px;
	}
	&.is-fullscreen {
		border-radius: 0px;
	}
}

// 树组件
.XmTreeV2 {
	user-select: none;
	.el-tree-node:focus > .el-tree-node__content {
		border-radius: 4px;
		background-color: var(--el-color-primary-light-8);
		color: var(--el-color-primary);
	}
	.el-tree-node.is-current {
		border-radius: 4px;
		background-color: var(--el-color-primary-light-8);
		color: var(--el-color-primary);
	}
	.el-tree-node.XmDis {
		.el-tree-node__content {
			cursor: not-allowed;
			border-radius: 4px;
			background-color: transparent;
			&:hover {
				background-color: var(--el-tree-node-hover-bg-color);
			}
		}
	}
	.el-tree-node__label {
		line-height: 36px;
	}
}

// 卡片区域
.CardArea {
	background: var(--el-bg-color);
	box-shadow: var(--el-box-shadow-light);
	border-radius: 6px;
	border: 1px solid var(--el-border-color);
	overflow: hidden;
	box-sizing: border-box;
}
